body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 4.5em;
    margin: 0;
}

.nav-mar {
    padding-right: 0.8rem;
}

footer {
    position: absolute;
    padding: 24;
    bottom: 0;
    width: 100%;
}


/*------------- PROFESORES -------------*/
.profesor {
    border-style: solid;
    border-radius: 8px;
    border-color: rgba(0,0,0,0.3); 
}

/*------------- COMENTARIOS -------------*/
.comentarios {
    border-style: solid;
    border-radius: 8px;
    max-height: 10em;
}

/*------------- USUARIO -------------*/
.bg-border {
    background-color: #f7f7f7;
}

/*------------- ALUMNOS -------------*/
.hide-column {
    display: none;
}

/*------------- LOGIN -------------*/

.gradient-custom {
    /*\background: #d0d4da;*/
    background-color: #f7f7f7;
}


.login-box {
    padding: 0.8rem;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
::-ms-reveal {
    filter: invert(100%);
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box button:hover {
    background: #d0d4da;
    color: #100f0f;
    border-radius: 5px;
    /*box-shadow: 0 0 5px #03f40f,
        0 0 25px #03f40f,
        0 0 50px #03f40f,
        0 0 100px #03f40f;*/
}

.login-box button span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box button span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
}